.card-group {
  display: block;
  max-width: 250px;
  transition: transform 0.3s ease;
}
.card-group:hover {
  transform: scale(1.1);
}
.card-group-img {
  display: inline-block;
  border-radius: 20px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.card-group-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 43px;
  letter-spacing: 0.07em;
  color: var(--color-accent);
}

/* Media */
@media (max-width: 1200px) {
  .card-group-title {
    font-size: 36px;
  }
}

@media (max-width: 800px) {
  .card-group-title {
    font-size: 28px;
  }
}

@media (max-width: 400px) {
  .card-group-title {
    text-align: center;
  }
}

