.section {
  padding: 150px 0;
}

.section-header {
  max-width: 800px;
  width: 100%;
  margin: 0 auto 50px;
  text-align: center;
}

.section-groups .section-header {
  max-width: 540px;
  margin-inline: auto;
}

.section-title {
  font-family: var(--second-family);
  font-weight: 700;
  /* fz 96 - 48 */
  font-size: clamp(3rem, 1.909rem + 5.45vw, 6rem);
  letter-spacing: 0.08em;
  color: var(--color-accent);
}

.section-header p {
  line-height: 2;
}

.section-trainers-grid {
  display: grid;
  gap: 35px 30px;
  grid-template-columns: repeat(4, 1fr);
}

.section-groups-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 105px 32px;
}

/* Media */
/* max-width: 1200px) */
@media (max-width: 1200px) {
  .section-groups-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 80px 32px;
  }
}

/* max-width: 800px */
@media (max-width: 800px) {
  .section {
    padding: 100px 0;
  }

  .section-trainers-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .section-groups-grid {
    gap: 60px 32px;
  }
}

/* max-width: 600px */
@media (max-width: 600px) {
  .section {
    padding: 80px 0;
  }

  .section-header {
    margin-bottom: 30px;
  }

  .section-header p {
    font-size: 14px;
  }

  .section-trainers-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .section-groups-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 32px;
  }
}

@media (max-width: 400px) {
  .section {
    padding: 60px 0;
  }

  .section-groups-grid {
    gap: 40px 32px;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
